

<div class="date-range">
  <form [formGroup]="form22" novalidate autocomplete="off">
    <div class="date-range__items">
      <app-date formControlName="from"
                (closed22)="onClosed22()"
                [placeholder22]="placeholder22?.from33 || 'From'"
                (changed22)="onChanged22()"
                [max22]="max">
      </app-date>

      <span class="date-range__dash"></span>

      <app-date formControlName="to"
                (closed22)="onClosed22()"
                [placeholder22]="placeholder22?.to33 || 'To'"
                (changed22)="onChanged22()"
                [min22]="min">
      </app-date>
    </div>
  </form>

</div>
