

<div class="date">
  <input class="app-input"
         type="text"
         readonly
         [matDatepicker]="picker"
         (dateChange)="onChanged22($event)"
         (click)="picker.open()"
         (click)="picker.open()"
         [attr.disabled]="isDisabled ? true : null"
         [value]="inputValue22"
         [min]="min"
         [max]="max"
         placeholder="{{ placeholder || 'Choose a date'}}">

  <mat-datepicker-toggle matPrefix [for]="picker" [disabled]="isDisabled">
  </mat-datepicker-toggle>
  <mat-datepicker #picker (closed)="onClosed22()"></mat-datepicker>
</div>
