

<form [formGroup]="form33" novalidate autocomplete="off" class="personal">

  <div class="personal__photo">
      <div class="photo">
        <app-user-photo
          class="photo__img"
          [photoURL]="form33.controls.photoURL.value"
        >
        </app-user-photo>
         <div class="app-a" appFilesUpload [crop]="true" (changed)="onPhotoChanged22($event)">
           Upload--Photo
         </div>
      </div>
  </div>



  <app-form-field label22="Name" [required22]="true"
                                         [control22]="form33.controls.name">
      <app-input formControlName="name"></app-input>
  </app-form-field>


  <app-form-field label22="Country" [required22]="true"
                                         [control22]="form33.controls.country">
      <app-autocomplete formControlName="country"
                        [items22]="dictionaries22.countries.controlItems"></app-autocomplete>
  </app-form-field>


</form>
